/*header*/
.header{
    width: 1300px;
    height: auto;
}

.ul{
    display: flex;
    justify-content: flex-end;
    
}
.li{
   vertical-align: middle;
   padding-right: 30px ;
   font-size: 15px;
   color: #1d55c5;        
}
.logo{
    vertical-align: middle;
    padding-top: 50px;
   padding-left: 30px ;

}
.img1{
    width: 600px;
}

.img{
    width: 80px;
    margin-top: 20%;


}


/*wrapper-parent box*/

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.section{    
    width: 1300px;
    
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


/*div-child boxes  */


.container{
    width: 300px;
    height: 400px;
    background-color:#eb975f ;
    margin: 10px;
    
    
}
.container2{
    
    background-color:#1ccaf9 ;
    width: 300px;
    height: 400px;
    margin: 10px;
    
    
}
.container3{
    background-color:#5b4490 ;
    width: 300px;
    height: 400px;
    margin: 10px;
        
}

.container4{
    background-color: #4b7ad6;
    width: 300px;
    height: 400px;
    margin: 10px;
}
.container5{
    background-color: #ad87f9;
    width: 300px;
    height: 400px;
    margin: 10px;
    
}
.container6{
   background-color:#fa7093 ;
   width: 300px;
   height: 400px;
   margin: 10px;
    
}
/*other containers*/
.div-box{  
    display: flex;
    justify-content: space-around;
    padding-top: 15%;
    margin-bottom: 20%;
    
}
.div-box2{
    
    width: 600px;
    height: auto;    
    margin-left: auto;
    margin-right: auto;
    text-align: center;        
}

.box{
    width: 600px;
}

  /*text-style  */
.text{
    text-align: center;
    width: 500px;
    font-size: 45px;
    margin: 30px;   
    color:#707070

}

.text1{
    text-align: center;
    width: 600px;
    margin: 15px; 
    color:#707070;
    
}
.text2{text-align: center;
    font-size: 25px;
    margin: 15px;
    color:#707070
}

.h3{
    margin: 10px;
    padding-top: 30%;
    color: whitesmoke;
}
.read-more{
       
       padding: 10px;
       border-radius: 20px;
       border: 2px solid ;
       color: whitesmoke;         
}
.readmore{
        
       padding: 10px;
       border-radius: 20px;
       border: 2px solid ;
       color: whitesmoke;
       background-color: rgb(90, 17, 226);;

}

.paragraph{
    
    width: 300px;  
    margin-bottom: 10%;
    color: whitesmoke;
}